.navbar {
  background-color: darkolivegreen;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 1.8rem;

  &__menu {
    list-style: none;
    display: flex;
  }

  & a {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 0 1rem;
  }
}
