.navbar {
  background-color: #556b2f;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 1.8rem;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);

  &__menu {
    list-style: none;
    display: flex;
  }

  & a {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 0 1rem;
  }
}
