.movies-seats {
  padding: 4rem;
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;

  &__link {
    font-size: 1.8rem;
    margin-top: 6rem;
    text-align: center;
    a {
      color: #080808;
      text-decoration: none;
    }
  }
}

.screen {
  background: rgb(17, 17, 17);
  height: 3rem;
  width: 80%;
  margin: 0 auto;
  border: 1px solid grey;
  color: grey;
  text-align: center;
  line-height: 3rem;
  font-size: 1.8rem;
}

.legend {
  display: flex;
  & span {
    display: inline-block;
  }
  justify-content: center;

  & > * {
    margin: 0 2rem;
  }
}

.box {
  height: 2rem;
  width: 2rem;
  border: 2px solid #ffffff;
  &--green {
    background-color: #3ebd60;
  }
  &--red {
    background-color: #bd4b3e;
  }
}

.book-btn {
  display: block;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #556b2f;
  color: #ffffff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0 auto;

  margin-top: 4rem;
  cursor: pointer;
  width: 20rem;

  &:active {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  }
}
