.movie {
  display: flex;
  padding: 1rem;
  max-width: 60rem;
  margin: 1rem auto;
  background-color: rgb(250, 250, 250);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);

  &__img-box {
    flex: 1;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    flex: 2;
    padding: 2rem;
  }

  &__title {
    font-size: 2.2rem;
    color: #556b2f;
    margin-bottom: 1rem;
  }
  &__time,
  &__tags {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.6rem;
    color: blueviolet;
  }
  &__tags {
    color: #556b2f;
    border-radius: 3px;
  }

  &__description {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
    background-color: #556b2f;
    text-align: center;
    padding: 1rem;
    display: block;
    margin-left: auto;
    width: 10rem;
    border-radius: 5px;
    transition: all 0.2s;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  }

  &__link:hover {
    background-color: rgba(85, 107, 47, 0.8);
    color: #141414;
  }
  &__link:active {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(4px);
  }
}
